* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #0e1117;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #000;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.search,
.dropdown select{
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
.filter select {
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

.apps {
  list-style: none;
  margin: 20px 0;
}

.apps li {
  margin: 8px 0;
}

.more-btn {
  background-color: #7c65ec;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.bottom-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.bottom-links a {
  color: #999;
  text-decoration: none;
}

/* Main Content */
.main {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
}

.main h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Fuerza 4 columnas */
  gap: 20px;
}

.card {
  background-color: #1a1f2e;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
  color: #ffff
}

.card p {
  margin: 0 10px 10px;
  font-size: 14px;
  color: #ffff;
}
